@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}
body {
  @apply m-4; /* This will apply a margin of 1rem (16px) on all sides */
}

/* Add this to your global CSS file (e.g., styles.css) */

.scrollbar-thin {
  scrollbar-width: thin; /* For Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px; /* Adjust the width for vertical scrollbar */
  height: 1px; /* Adjust the height for horizontal scrollbar */

}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background for the track */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #888; /* Dark gray color for the thumb */
  border-radius: 6px; /* Round the corners of the thumb */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker gray on hover */
}